@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-img img {
    width: 31rem;
}

#form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header .gabarito {
    padding-left: 10rem;
}

.form-header .title h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.gabarito, .send-notes {
    display: flex;
    align-items: center;
}

.gabarito button, .send-notes button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.gabarito button:hover, .send-notes button:hover {
    background-color: #3025fff1;
}

.gabarito button a, .send-notes button  {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.input-notes, .input-pesos {
    display: inline-block;
    padding: 2rem;
    padding-left: 5rem;
}

.input-notes-box label{
    padding-right: 1rem;
}

.input-notes-box, .input-pesos-box {
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-notes-box input, .input-pesos-box input {
    margin: 0.3rem 0;
    padding: 0.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    max-width: 10rem;
    width: 5rem;
    height: 3rem;
}

.input-notes-box input:focus-visible, .input-pesos-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.75rem 0;
    align-items: center;
    justify-content: center;
}

#notafinal {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
    font-weight: bold;
}


#notafinal span:first-child {
    font-size: 0.875rem;
}

.send-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

@media screen and (max-width: 1330px) {
    .form-img {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-notes, .input-pesos {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}